<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div
      style="
        display: grid;
        grid-column: 5px;
        padding-top: 200px;
        height: 10vh;
        align-items: center;
        justify-content: center;
      "
    >
      <h1>Welcome to Ubumwe Micro Finance</h1>
      <div style="display: flex; justify-content: center; align-items: center">
        <a
          style="background-color: black; color: aliceblue; padding: 20px"
          href="{% url 'admin:index' %}"
          >Go To Login
        </a>
      </div>
    </div>
  </body>
</html>
